/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 */
/* line 1, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-ratnakar-bank {
  display: inline-block;
  background: url("../../images/sprite.png") no-repeat -77px -39px;
  width: 70px;
  height: 20px; }

/* line 8, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-shmartpay {
  background: url("../../images/sprite.png") no-repeat -169px -1px;
  width: 93px;
  height: 18px;
  display: inline-block; }

/* line 15, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-phone {
  background: url("../../images/sprite.png") no-repeat -7px -8px;
  width: 14px;
  height: 11px;
  display: inline-block; }

/* line 22, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-user {
  background: url("../../images/sprite.png") no-repeat -8px -8px;
  width: 12px;
  height: 11px;
  display: inline-block; }

/* line 29, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-password {
  background: url("../../images/sprite.png") no-repeat -9px -27px;
  display: inline-block;
  width: 11px;
  height: 13px; }

/* line 36, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-email {
  background: url("../../images/sprite.png") no-repeat -192px -22px;
  width: 13px;
  height: 10px;
  display: inline-block; }

/* line 43, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-dashboard {
  background: url("../../images/sprite.png") no-repeat -28px -6px;
  display: inline-block;
  width: 26px;
  height: 13px; }
  /* line 48, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
  .icon-dashboard:hover, a:hover .icon-dashboard, a.active .icon-dashboard {
    background-position: -28px -28px; }

/* line 54, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-update-details {
  background: url("../../images/sprite.png") no-repeat -139px -8px;
  display: inline-block;
  width: 15px;
  height: 16px; }
  /* line 59, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
  .icon-update-details:hover, a:hover .icon-update-details, a.active .icon-update-details {
    background-position: -139px -30px; }

/* line 64, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-transactions {
  background: url("../../images/sprite.png") no-repeat -381px -2px;
  display: inline-block;
  width: 15px;
  height: 15px; }
  /* line 69, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
  .icon-transactions:hover, a:hover .icon-transactions, a.active .icon-transactions {
    background-position: -513px -2px; }

/* line 74, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-enroll-employees {
  background: url("../../images/sprite.png") no-repeat -86px -9px;
  display: inline-block;
  width: 19px;
  height: 12px; }
  /* line 79, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
  .icon-enroll-employees:hover, a:hover .icon-enroll-employees, a.active .icon-enroll-employees {
    background-position: -86px -31px; }

/* line 84, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-add-funds {
  background: url("../../images/sprite.png") no-repeat -61px -8px;
  display: inline-block;
  width: 20px;
  height: 13px; }
  /* line 89, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
  .icon-add-funds:hover, a:hover .icon-add-funds, a.active .icon-add-funds {
    background-position: -61px -30px; }

/* line 94, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-fund-account {
  background: url("../../images/sprite.png") no-repeat -115px -11px;
  display: inline-block;
  width: 18px;
  height: 10px; }
  /* line 99, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
  .icon-fund-account:hover, a:hover .icon-fund-account, a.active .icon-fund-account {
    background-position: -115px -33px; }

/* line 104, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-reports {
  background: url("../../images/sprite.png") no-repeat -164px -10px;
  display: inline-block;
  width: 18px;
  height: 14px; }
  /* line 109, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
  .icon-reports:hover, a:hover .icon-reports, a.active .icon-reports {
    background-position: -164px -32px; }

/* line 114, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-logout {
  background: url("../../images/sprite.png") no-repeat -30px -49px;
  display: inline-block;
  width: 13px;
  height: 13px; }
  /* line 119, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
  .icon-logout:hover, a:hover .icon-logout, a.active .icon-logout {
    background-position: -9px -49px; }

/* line 124, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-settings {
  background: url("../../images/sprite.png") no-repeat -28px -72px;
  display: inline-block;
  width: 14px;
  height: 14px; }
  /* line 129, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
  .icon-settings:hover, a:hover .icon-settings, a.active .icon-settings {
    background-position: -7px -72px; }

/* line 134, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-rupee {
  background: url("../../images/sprite.png") no-repeat -62px -51px;
  display: inline-block;
  width: 7px;
  height: 9px; }

/* line 142, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-download {
  background: url("../../images/sprite.png") no-repeat -545px -2px;
  display: inline-block;
  width: 14px;
  height: 17px; }

/* line 149, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-close {
  background: url("../../images/sprite.png") no-repeat -65px -70px;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer; }
  /* line 156, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
  .icon-close:hover {
    background-position: -47px -70px; }

/* line 161, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/sprite.css.scss */
.icon-mediassist {
  background: url("../../images/sprite.png") no-repeat -31px -39px;
  display: inline-block;
  width: 30px;
  height: 24px; }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Light-webfont.eot"), url("../fonts/OpenSans-Light-webfont.eot?") format("eot"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/OpenSans-LightItalic-webfont.eot"), url("../fonts/OpenSans-LightItalic-webfont.eot?") format("eot"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular-webfont.eot"), url("../fonts/OpenSans-Regular-webfont.eot?") format("eot"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/OpenSans-Italic-webfont.eot"), url("../fonts/OpenSans-Italic-webfont.eot?") format("eot"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans-Semibold-webfont.eot"), url("../fonts/OpenSans-Semibold-webfont.eot?") format("eot"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot"), url("../fonts/OpenSans-SemiboldItalic-webfont.eot?") format("eot"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold-webfont.eot"), url("../fonts/OpenSans-Bold-webfont.eot?") format("eot"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot"), url("../fonts/OpenSans-BoldItalic-webfont.eot?") format("eot"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot"), url("../fonts/OpenSans-ExtraBold-webfont.eot?") format("eot"), url("../fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.eot?") format("eot"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"); }

/* line 34, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
body {
  font-family: 'Open Sans';
  font-size: 13px; }

/* line 39, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
a {
  color: inherit;
  text-decoration: none;
  color: #f7a03d; }
  /* line 43, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  a:hover {
    text-decoration: underline; }

/* line 48, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
ul {
  float: right;
  display: inline-block; }
  /* line 51, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  ul li {
    float: left; }

/* line 56, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
input[type=text], input[type='password'], input[type="email"] {
  padding: 4px;
  font-weight: 400;
  border-radius: 3px;
  height: 24px;
  border: 1px solid #dad1c6;
  font-size: 13px;
  outline: none;
  color: #5b5349; }
  /* line 71, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  input[type=text]:focus, input[type='password']:focus, input[type="email"]:focus {
    box-shadow: 0 0 2px #c09a6d;
    border: 1px solid #dfcbb4; }

/* line 77, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
input[type='submit'], a.button, button, a.button {
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  background: #746c5f;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
  cursor: pointer; }
  /* line 88, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  input[type='submit']:hover, a.button:hover, button:hover, a.button:hover {
    background: #8f8677;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out; }

/* line 98, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
select {
  height: 30px; }

/* line 102, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
button.blue, a.blue.button {
  padding: 10px 20px;
  background: #00aeef; }
  /* line 105, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  button.blue:hover, a.blue.button:hover {
    background: #23c3ff; }

/* line 110, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
a.button {
  padding-top: 8px;
  padding-bottom: 8px; }

/* line 118, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
#flash-messages #flash-error, #flash-messages #flash-notice, #flash-messages #flash-alert {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 6px;
  background: #eaddcc;
  color: #fff;
  line-height: 18px; }
/* line 129, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
#flash-messages #flash-error {
  background: maroon; }

/* line 134, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.ui-widget-header {
  background: #fff !important;
  border: none !important; }

/* line 139, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none !important;
  border-radius: 3px;
  border: 1px solid #dad1c6; }
  /* line 143, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
    background: #eaddcc !important; }

/* line 148, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
table.ui-datepicker-calendar, thead {
  border: none !important; }

/* line 153, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.ui-datepicker-calendar tr:hover {
  background: none !important; }

/* line 158, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 2px solid #dad1c6 !important; }

/* line 163, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.static-pages #left-col {
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  width: 30%;
  min-width: 268px;
  padding: 0 33px;
  font-weight: 300;
  background: #f7a03d;
  z-index: -999;
  min-height: 1000px;
  float: left; }
  /* line 176, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .static-pages #left-col img {
    margin-top: 70px;
    margin-bottom: 50px;
    float: left; }
  /* line 182, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .static-pages #left-col h2 {
    clear: both;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin-top: 120px; }
  /* line 190, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .static-pages #left-col p.lead {
    margin-bottom: 40px; }
  /* line 193, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .static-pages #left-col p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px; }
/* line 201, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.static-pages #right-col {
  float: left;
  padding: 68px 50px 0 30px;
  width: 50%; }
  /* line 208, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .static-pages #right-col min-width 600px   . content  {
    margin: 0 auto; }
  /* line 212, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .static-pages #right-col .row {
    clear: both; }
  /* line 216, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .static-pages #right-col .img-container {
    width: 80px;
    height: 120px;
    float: left;
    margin-right: 32px; }
  /* line 223, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .static-pages #right-col .text-container {
    display: block; }
    /* line 225, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
    .static-pages #right-col .text-container h4 {
      font-size: 16px;
      color: #7e776c;
      font-weight: 600; }
    /* line 230, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
    .static-pages #right-col .text-container p {
      margin-top: 20px;
      margin-bottom: 50px;
      clear: none; }
  /* line 238, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .static-pages #right-col p.mb-20 {
    float: left;
    margin-bottom: 20px; }
  /* line 243, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .static-pages #right-col h2 {
    margin-bottom: 20px; }

/* line 249, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.error-message {
  clear: both;
  width: 80%;
  margin: 0 auto;
  background: #ff5151;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  line-height: 21px;
  margin-bottom: 30px; }

/* line 261, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.application-logout {
  float: right;
  color: #fff !important;
  margin-top: 20px;
  padding: 5px;
  border-radius: 4px;
  background: #f7a03d; }
  /* line 268, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .application-logout:hover {
    text-decoration: none;
    background: #e97e04; }

/* line 274, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
input.error {
  border: 1px solid red; }

/* line 278, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.transparent-logo {
  display: block;
  margin-top: -30px;
  margin-bottom: 20px !important; }

/* line 285, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.static-pages p {
  clear: both; }
/* line 289, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.static-pages em {
  font-style: italic; }
/* line 293, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.static-pages h3 {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 10px; }

/* line 301, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.pagination {
  margin-top: 20px; }
  /* line 303, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .pagination a, .pagination span, .pagination em {
    text-align: center;
    margin-right: 5px;
    padding: 3px 5px; }
  /* line 309, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .pagination a {
    background: #eaddcc;
    color: #fff; }
    /* line 312, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
    .pagination a:hover {
      text-decoration: none;
      background: #ccad84; }
  /* line 317, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .pagination a.next_page {
    color: #f7a03d;
    background: none; }
    /* line 320, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
    .pagination a.next_page:hover {
      text-decoration: underline; }

/* line 326, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.left-side {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 331, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .left-side p.leading {
    font-size: 19px;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 30px; }
  /* line 339, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .left-side .features {
    line-height: 15px;
    font-size: 12px;
    margin-bottom: 10px; }
  /* line 345, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .left-side strong {
    font-weight: bold; }
  /* line 349, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .left-side a {
    text-decoration: underline;
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased; }
    /* line 356, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
    .left-side a:hover {
      text-decoration: none; }
  /* line 361, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  .left-side a.view-more {
    float: left;
    padding: 5px;
    line-height: 18px;
    border-radius: 3px;
    margin-top: 15px;
    color: #AD6C23;
    background: #ffC685;
    text-decoration: none;
    font-size: 12px; }
    /* line 371, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
    .left-side a.view-more:hover {
      background: #ff961f; }

/* line 377, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
#tnc .left-side {
  height: 5500px; }

/* line 381, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
ul.legal {
  color: inherit; }
  /* line 383, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
  ul.legal li {
    float: left;
    clear: both;
    list-style-type: disc;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 17px;
    margin-left: 50px; }

/* line 395, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.content.list table {
  width: 400px;
  float: left; }

/* line 407, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/global.css.scss */
.right {
  float: right; }

/* line 37, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
#home #left-column {
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  width: 40%;
  font-weight: 300;
  background: #f7a03d;
  position: absolute;
  min-height: 100%;
  float: left; }
  /* line 48, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
  #home #left-column .content {
    width: 60%;
    margin: 0 auto;
    padding-left: 40px;
    padding-top: 83px;
    clear: both;
    overflow: hidden; }
    /* line 56, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
    #home #left-column .content a {
      margin-top: -15px; }
  /* line 61, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
  #home #left-column .leading {
    font-size: 19px;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 30px; }
  /* line 69, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
  #home #left-column .features {
    line-height: 15px;
    font-size: 12px;
    margin-bottom: 10px; }
  /* line 75, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
  #home #left-column strong {
    font-weight: bold; }
  /* line 79, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
  #home #left-column a {
    text-decoration: underline;
    display: block;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased; }
    /* line 86, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
    #home #left-column a:hover {
      text-decoration: none; }
  /* line 91, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
  #home #left-column a.view-more {
    float: left;
    padding: 5px;
    line-height: 18px;
    border-radius: 3px;
    margin-top: 15px;
    color: #AD6C23;
    background: #ffC685;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 40px; }
    /* line 102, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
    #home #left-column a.view-more:hover {
      background: #ffdeb8; }
  /* line 107, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
  #home #left-column .footer {
    position: absolute;
    padding-left: 20px;
    bottom: 0px;
    font-size: 12px;
    font-weight: 400; }
    /* line 113, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
    #home #left-column .footer a {
      float: left; }
/* line 119, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
#home #right-column {
  position: absolute;
  left: 40%;
  width: 60%;
  min-height: 100%;
  background: #fcf7f0;
  float: right; }
  /* line 127, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
  #home #right-column .content {
    clear: both;
    overflow: hidden;
    margin-top: 50px; }
    /* line 132, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
    #home #right-column .content #login-box {
      border: 2px solid #eee4d8;
      margin: 0 auto;
      width: 385px;
      border-radius: 8px; }
      /* line 3, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/_clearfix.css.scss */
      #home #right-column .content #login-box:after {
        content: "";
        display: table;
        clear: both; }
      /* line 139, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
      #home #right-column .content #login-box .card-holder {
        font-size: 11px;
        padding-top: 5px;
        float: left;
        color: #5b5349; }
      /* line 146, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
      #home #right-column .content #login-box .vertical-1 {
        padding: 38px 34px 20px 34px;
        background: #f6eee4; }
        /* line 150, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
        #home #right-column .content #login-box .vertical-1 .row {
          margin-top: 20px; }
          /* line 3, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/_clearfix.css.scss */
          #home #right-column .content #login-box .vertical-1 .row:after {
            content: "";
            display: table;
            clear: both; }
          /* line 153, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
          #home #right-column .content #login-box .vertical-1 .row.first {
            margin-top: 0px; }
        /* line 158, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
        #home #right-column .content #login-box .vertical-1 .login-title {
          font-size: 16px;
          color: #7e776c;
          font-weight: 600;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          padding-bottom: 32px; }
        /* line 167, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
        #home #right-column .content #login-box .vertical-1 label.error {
          float: right;
          text-align: right;
          margin-top: 5px;
          color: red;
          width: 100%; }
        /* line 175, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
        #home #right-column .content #login-box .vertical-1 label {
          width: 87px;
          display: inline-block;
          font-weight: 400;
          font-size: 13px;
          color: #7e776c; }
          /* line 182, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
          #home #right-column .content #login-box .vertical-1 label i {
            margin-right: 2px; }
        /* line 187, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
        #home #right-column .content #login-box .vertical-1 input[type='submit'], #home #right-column .content #login-box .vertical-1 a.button {
          margin-right: 10px; }
        /* line 191, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
        #home #right-column .content #login-box .vertical-1 a {
          font-weight: 600; }
      /* line 195, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
      #home #right-column .content #login-box .vertical-2 {
        background: #fff;
        padding: 16px 20px; }
        /* line 3, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/_clearfix.css.scss */
        #home #right-column .content #login-box .vertical-2:after {
          content: "";
          display: table;
          clear: both; }
        /* line 200, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
        #home #right-column .content #login-box .vertical-2 .col-1 {
          padding-right: 20px;
          float: left;
          border-right: 1px solid #eee4d8;
          height: 55px; }
          /* line 205, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
          #home #right-column .content #login-box .vertical-2 .col-1 button, #home #right-column .content #login-box .vertical-2 .col-1 a.button {
            margin-top: 20px;
            padding: 10px 10px;
            width: 140px; }
        /* line 212, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
        #home #right-column .content #login-box .vertical-2 .col-2 {
          width: 150px;
          float: left;
          padding: 5px 20px;
          height: 40px;
          font-size: 12px;
          line-height: 17px;
          font-size: 11px;
          color: #7e776c;
          margin-right: 0px;
          padding-right: 0px;
          margin-right: 0px; }
  /* line 230, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
  #home #right-column .sub-footer {
    width: 100%;
    position: absolute;
    bottom: 55px;
    text-align: center; }
    /* line 236, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
    #home #right-column .sub-footer i {
      margin: 0px 28px 5px 28px; }
      /* line 238, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
      #home #right-column .sub-footer i.icon-ratnakar-bank {
        margin-right: 0px;
        margin-bottom: 6px; }
  /* line 245, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
  #home #right-column .footer {
    width: 100%;
    height: 37px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    border-top: 1px solid #eee4d8; }
  /* line 256, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
  #home #right-column ul {
    margin-top: 10px; }
    /* line 258, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
    #home #right-column ul li {
      margin-right: 10px; }
      /* line 260, /home/arihant/projects/transerv_corporate_portal/source/stylesheets/unauthenticated.css.scss */
      #home #right-column ul li a {
        color: #ada9a1;
        padding: 10px; }

#profile-authcode input{
  margin-bottom: 10px;
}
.msg-info, .msg-success, .msg-warn, .msg-error {
    border: 1px solid;
    margin: 15px 0px;
    padding:15px 20px 15px 55px;
    width: auto;	
    font: bold 12px verdana;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-shadow: 2px 2px 2px #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.msg-info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url(../../images/icons/info.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.msg-success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url(../../images/icons/success.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.msg-warn {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url(../../images/icons/warning.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.msg-error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url(../../images/icons/error.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
.corporatebox{
	width:240px;
	height:85px;
}